{% extends 'main.html' %}

{% block body %}

{% if bicycle %}
  <ul> <a href="{% url 'user_advertisements' bicycle.user.id %}"> Объявления пользователя {{bicycle.user}} </a></ul>
  <ul> Название объявления {{bicycle.title}} </ul>
  <ul> Текст объявления {{bicycle.note}} </ul>
  <ul> Дата подачи объявления {{bicycle.date}} </ul>
  <ul> Стоимость {{bicycle.price}} р. </ul>
  <ul> Размер {{bicycle.size}} </ul>
  <ul> Тип велосипеда {{bicycle.bicycle_type}} </ul>
  <ul> Переключатель передний {{bicycle.jumper_front}} </ul>
  <ul> Переключатель задний {{bicycle.jumper_back}} </ul>

  <div class="container">
    <div class="row">
      {% for image in images %}
          <a href="/media/{{image.image}}">
            <img src="/media/{{image.image_medium}}">
          </a>
      {% endfor %}
    </div>
  </div>

  {% if bicycle.user_id == user.id %}
    <li><a href="{% url 'delete_bicycle' bicycle.id %}"> Удалить </a></li>
    <li><a href="{% url 'edit_bicycle' bicycle.id %}"> Редактировать </a></li>
  {% endif %}
  <li><a href="{% url 'categories' %}"> Объявления </a></li>
{% else %}
    <p>No polls are available.</p>
{% endif %}
{% endblock %}


<!-- <div class="container">
  <div class="row">
    <a href="https://unsplash.it/1200/768.jpg?image=251" data-toggle="lightbox" data-gallery="gallery" class="col-md-4">
      <img src="https://unsplash.it/600.jpg?image=251" class="img-fluid rounded">
    </a>
    <a href="https://unsplash.it/1200/768.jpg?image=252" data-toggle="lightbox" data-gallery="gallery" class="col-md-4">
      <img src="https://unsplash.it/600.jpg?image=252" class="img-fluid rounded">
    </a>
    <a href="https://unsplash.it/1200/768.jpg?image=253" data-toggle="lightbox" data-gallery="gallery" class="col-md-4">
      <img src="https://unsplash.it/600.jpg?image=253" class="img-fluid rounded">
    </a>
  </div>
  <div class="row">
    <a href="https://unsplash.it/1200/768.jpg?image=254" data-toggle="lightbox" data-gallery="gallery" class="col-md-4">
      <img src="https://unsplash.it/600.jpg?image=254" class="img-fluid rounded">
    </a>
    <a href="https://unsplash.it/1200/768.jpg?image=255" data-toggle="lightbox" data-gallery="gallery" class="col-md-4">
      <img src="https://unsplash.it/600.jpg?image=255" class="img-fluid rounded">
    </a>
    <a href="https://unsplash.it/1200/768.jpg?image=256" data-toggle="lightbox" data-gallery="gallery" class="col-md-4">
      <img src="https://unsplash.it/600.jpg?image=256" class="img-fluid rounded">
    </a>
  </div>
</div> -->
