{% extends 'main.html' %}

{% block body %}

{% if bicycle %}
  <ul> Пользователь {{bicycle.user_id}} </ul>
  <ul> Название объявления {{bicycle.title}} </ul>
  <ul> Текст объявления {{bicycle.note}} </ul>
  <ul> Дата подачи объявления {{bicycle.date}} </ul>
  <ul> Стоимость {{bicycle.price}} р. </ul>
  <ul> Размер {{bicycle.size}} </ul>
  <ul> Тип велосипеда {{bicycle.bicycle_type}} </ul>
  <ul> Переключатель передний {{bicycle.jumper_front}} </ul>
  <ul> Переключатель задний {{bicycle.jumper_back}} </ul>
  {% for image in images %}
      <img src="/media/{{image.image}}">
  {% endfor %}

  {% if bicycle.user_id == user.id %}
    <li><a href="{% url 'delete_bicycle' bicycle.id %}"> Удалить </a></li>
    <li><a href="{% url 'edit_bicycle' bicycle.id %}"> Редактировать </a></li>
  {% endif %}
  <li><a href="{% url 'categories' %}"> Объявления </a></li>
{% else %}
    <p>No polls are available.</p>
{% endif %}
{% endblock %}
