{% extends 'main.html' %}

{% block body %}

{% if adv_list %}
    <ul>
    {% for advertisement in adv_list %}
    <li><a href="/advertisement/{{ advertisement.id }}"> {{ advertisement.title }} </a></li>
    <li><a href="/advertisement/{{ advertisement.id }}"> {{ advertisement.price }} p. </a></li>
    <li><a href="/advertisement/{{ advertisement.id }}"> {{ advertisement.date }} </a></li>
    <li><a href="/advertisement/{{ advertisement.id }}"> {{ advertisement.user }} </a></li>
    <li></li>
    {% endfor %}
    </ul>
    <li><a href="/advertisement/new"> Добавить </a></li>
{% else %}
    <p>Объявлений не найдено</p>
{% endif %}

{% if adv_list.paginator.num_pages > 1 %}
    {% if adv_list.has_previous %}
        <a href="/page/{{ adv_list.previous_page_number }}/">&larr;</a>
    {% endif %}
    {% for page in adv_list.paginator.page_range %}
      {% if page == adv_list.number %}
        <li><a href="/page/{{page}}">{{page}}</a></li>
      {% else %}
        <li><a href="/page/{{page}}">{{page}}</a></li>
      {% endif %}
    {% endfor %}
    {% if adv_list.has_next %}
        <a href="/page/{{ adv_list.next_page_number }}">&rarr;</a>
    {% endif %}
{% endif %}

{% endblock %}
